
<%= form_with(model: @blog, local: true,url: choose_new_or_edit) do |form|%>
  <% if @blog.errors.any? %>

  <div id="error_explanation" class="alert alert-danger">
    <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
    <ul>

      <div class="col-sm-6 col-md-3">
      <% @blog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
    <div class="form-group col-sm-6 col-md-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6 col-md-3">
      <%= form.label :content %>
      <%= form.text_field :content, class: 'form-control' %>
    </div>
    <div>
      <input type="submit" value="送信" class="btn btn-primary">
    </div>
<% end %>
