<div class="container">
  <h1>ブログ一覧</h1>

  <p><%= notice %></p>

  <table class="table table-striped row ">
    <tr>
      <td>タイトル</td>
      <td>内容</td>
    </tr>

  <% @blogs.each do |blog| %>
    <div class="active col-md-6 col-xs-12">
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
      </tr>
      <tr>
        <td><%= link_to '詳細確認', blog_path(blog.id),class:"btn btn-primary" %></td>
        <td><%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } ,class:"btn btn-success"%></td>
        <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'},class:"btn btn-danger"%></td>

      </tr>
     </div>
  <% end %>
  </table>

  <br>

  <td><%= link_to '新しくブログを投稿する',new_blog_path, class:"btn btn-info"%></td>
</div>
